html
  head
    link(rel='stylesheet', href='css/main.css')
    script(src='js/main.js')
  body
    canvas#canvas
    
    .panels
      .maps
        h2 Map List
        .maplist
        input.name
        button.new New Map
      .overlay
